<div class="login-main">
    <form class="clearfix">
        <mat-card>
            <mat-card-content>
                <img src="../../../../assets/mytyre-logo.png">
                <div>
                    <button>
                        <mat-icon color="primary">sentiment_dissatisfied</mat-icon>
                    </button>
                </div>
                <mat-card-content class="unlock-token">
                    <mat-card-title>Incomplete Feature</mat-card-title>
                    <p>Hopefully wait for this feature.
                    </p>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </form>
</div>